files:
    "/etc/nginx/conf.d/00_change_nginx.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            http {
                server_names_hash_bucket_size 128;
            }
            
container_commands:
    nginx_reload:
        command: "sudo service nginx reload"